.Users {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 80%;
    height: 90%;
}

.user {
    width: 100%;
    height: 200px;
    border: 1px solid black;
}

.pages {
    height: 40px;
}

.page {

}

.loading {
    width: 198px;
    height: 198px;
}
