.Sidebar {
    width: 20%;
    height: 800px;
    background-color: #313131;
    color: whitesmoke;
}
.nav {
    background-color: #313131;
    list-style: none;
}
.item a {
    color: whitesmoke;
    text-decoration: none;
}

.wrapper {
    /*display: flex;*/
    /*flex-direction: row;*/
    /*justify-content: space-between;*/
}