* {
    margin: 0;
    font-family: Calibri;
}
#root {
    display: flex;
    justify-content: center;
}
.App {
    display: flex;
    flex-direction: column;
    min-width: 1200px;
    height: 100%;
}