* {
    margin: 0;
}
#root {
    display: flex;
    justify-content: center;
}
.App {
    width: 1200px;
    height: 1000px;
    display: flex;
    flex-direction: column;
}
.Header {
    height: 120px;
    width: 100%;
    background-color: #15CD69;
}
.Main {
    width: 1200px;
    height: 1000px;
    background-color: wheat;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.Sidebar {
    background-color: #15CD69;
}
.Sidebar ul{list-style: none;}