* {
    margin: 0;
    font-family: Calibri;
}
#root {
    display: flex;
    justify-content: center;
}
.App {
    width: 1200px;
    height: 1000px;
    display: flex;
    flex-direction: column;
}



